body {
    background-color: black;
    display: flex;
    margin: 0;
    justify-content: center;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 80%;
}

@media (min-width: 768px) {
    .container {
        min-width: 768px;
        max-width: 932px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}

#beach-img {
    /* height: 100%; */
}

.info-pic {
    width: 180px;
    height: auto;
    border: 3px solid rgb(31, 132, 190);
    border-radius: 15px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

li {
    list-style-type: none;
}

.header-container,
.footer {
    background-color: #1F2937;
    margin: 0;
}

@media (min-width: 768px) {
    .nav {
        min-width: 20rem;
    }
}

.header-logo {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: #F9FAF8;
}

.nav {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1rem;
    position: sticky;
    top: 0;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 4rem 0;
}

@media (max-width: 767px) {
    .hero-container {
        flex-direction: column;
    }

    .hero-container img {
        display: none;
    }
}

.hero-container img {
    width: 50%;
}

.hero-container > div {
    max-width: 450px;
    margin-right: 1rem;
    flex-wrap: wrap;
}

.hero-container button {
    margin-top: 10px;
    width: 128px;
    padding: 7px 0;
}

a {
    text-decoration: none;
}

.hero-main-text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-secondary-text,
.footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #F9FAF8;
}

.information-container {
    background-color: white;
    padding: 0 1rem;
}

.information-main-text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
    margin: 45px 0;
}

.information-secondary-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #5d5e61;
}

.info-cards {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 120px;
}

.card {
    max-width: 170px;
    text-align: center;
    width: 25%;
}

.card img {
    box-sizing: border-box;
    width: 100%;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.quote-box {
    width: 90%;
    padding: 0;
}

.quote-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 36px;
    font-style: oblique;
    color: #1F2937;
    margin-top: 130px;
    margin-bottom: 1rem;
}

.quote-signature-text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #1F2937;
    text-align: right;
    margin-bottom: 100px;
}

.sign-up-container {
    background-color: white;
    padding: 80px 1rem;
}

.sign-up-banner {
    background-color: #3882F6;
    border-radius: 7px;
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-between;
}

.sign-up-banner > button {
    min-width: 150px;
    min-height: 20px;
    max-height: 50px;
    flex-shrink: 0;
    flex-grow: 0;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.call-main-text {
    font-family: "Roboto", sans-serif;
    font-weight: 480;
    font-style: normal;
    font-size: 24px;
    color: #F9FAF8
}

.call-secondary-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-container button {
    border: 2px solid #F9FAF8;
}
